﻿@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using BlazorWebApp.Shared.Interfaces
@using BlazorWebApp.Shared.Models
@inject IWeathersService ForecastService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>
<label>Insert zone</label>
<input type="text" @bind-value="Zone"/>
<button @onclick="() => GetForecast(Zone)">Send</button>

@if (forecasts == null)
{
    <p><em>Not valid zone, please select another...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Zone</th>
                <th>Updated</th>
                <th>Days</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@forecasts.Properties.Zone</td>
                <td>@forecasts.Properties.Updated</td>
                <td>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Number</th>
                                <th>Name</th>
                                <th>Detailed Forecast</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var period in forecasts.Properties.Periods)
                            {
                                <tr>
                                    <td>@period.Number</td>
                                    <td>@period.Name</td>
                                    <td>@period.DetailedForecast</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
            
        </tbody>
    </table>
}

@code {
    private WeatherApiResponse? forecasts;
    public string? Zone;

    protected override async Task OnInitializedAsync()
    {
        await GetForecast("ORZ005");
    }

    public async Task GetForecast(string zone)
    {
        forecasts = await ForecastService.GetWeatherForecast(zone);
    }
}
